/* Estilos header */
header {
  width: 100%;
  height: 100px;
}
h1 {
  color: orange;
  float: left;
  font-size: 2.5rem;
  margin-top: 15px;
  margin-left: 20px;
}
.buscar {
  float: right;
  height: 50px;
  padding-top: 30px;
  margin-right: 30px;
}
.buscar p {
  display: inline;
  padding-right: 15px;
}

/* Navegación */
nav {
  background-color: rgb(102, 102, 255);
  padding: 1px 0;
}

/* Main */
main {
  margin-top: 1rem;
}
.lado-izquierdo {
  width: 200px;
  float: left;
}
.noticias {
  border: 2px solid lightblue;
  padding: 10px;
  background-color: rgb(238, 238, 238);
}
.noticias .relacionados {
  list-style: none;
  padding: 0; 
}
.publicidad {
  border: 2px dashed orange;
  padding: 10px;
  margin: 10px 0;
  background-color: rgb(245, 238, 179);
}

/* Contenido principal */
.principal {
  max-width: 690px;
  float: left;
  padding-left: 3em;
}
img {
  width: 200px;
  height: auto;
  float: left;
  padding-right: 1em;
}


/* Lado derecho */
.lado-derecho {
  width: 180px;
  float: right;
  border: 2px solid orange;
  padding: 6px;
}
.noticia-1 h2, .noticia-2 h2 {
  background-color: orange;
  padding: 8px;
  margin-bottom: 0;
}
.lado-derecho p, a {
  padding: 0 2px;
  margin: 0;
}


/* Footer */
footer {
  margin-top: 54rem;
}

.contenedor-footer {
  width: 100%;
  height: 30px;
  background-color: rgb(238, 238, 238);
  padding-top: 20px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
}

footer .enlaces {
  float: left;
}
.enlaces a {
  padding-right: 5px;
  border-right: 2px solid gray;
}

footer span {
  float: right;
}